@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

body{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* header */
.header{
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 10;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo h1{
    color: red;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.header .logo h1 span{
    
    color: black;
}

/* .header .logo img{
    vertical-align: middle;

} */

.header .menu .head{
    display: none;
}

.header .menu ul{
    list-style: none;

}


.header .menu > ul > li{
    display: inline-block;

}

.header .menu > ul > li:not(:last-child){
    margin-right: 40px;
}

.header .menu .dropdown{
    position: relative;
}

.header .menu a{
    text-decoration: none;
    text-transform: capitalizef;
    font-size: 16px;
    color:black;
    line-height: 1.5;
    display: block;
    transition: all .5s ease 0s;

}

.header .menu a:hover{
    color: red;
}

.header .menu a:focus{
    color: red;
}

.header .menu i:hover{
    color: red;
}

.header .menu > ul > Li > a{
    padding: 24px 0;
}

.header .menu > ul > li > a::after{
    content: '';
    width: 0;
    height: 5px;
    border-radius: 20px;
    background-color: red;
    margin: auto;
    display: block;
    
    
}

.header .menu > ul > li > a:hover::after{
    width: 100%;
    transition: width .2s linear;
}

.header .menu > ul > .dropdown > a{
    padding-right: 15px;

}

.header .menu i{
    font-size: 10px;
    pointer-events: none;
    user-select: none;
    position: absolute;
    color: black;
    top: calc(50% - 5px);

} 

.header .menu > ul > li > i{
    right: 0;
}

.header .menu .sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 230px;
    padding: 15px 0 ;
    background-color: black;
    box-shadow: 0 0 5px black;
    z-index: 1;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
}

.header .menu .sub-menu-right{
    left: 100%;
    top: 0;

}
.header .menu .sub-menu-left{
    left: auto;
    top: 0;
    right: 100%;
}


.header .menu li:hover > .sub-menu{
    opacity: 1;
    transform: none;
    visibility: visible;
    /* transition: all 0.5s ease; */
}
.header .menu .sub-menu a{
    padding: 6px 24px;
    font-size: 14px;
    color: white;
}

.header .menu .sub-menu i{
    color: white;
}

.header .menu .sub-menu a:hover{
    color: red;
}

.header .menu .sub-menu a:focus{
    color: red;
}

.header .menu .sub-menu i:hover{
    color: red;
}

.header .menu .sub-menu .sub-menu-right a,
.header .menu .sub-menu .sub-menu-left a{
    font-size: 12px;
    color: white;
}


.header .menu .sub-menu .sub-menu-right i,
.header .menu .sub-menu .sub-menu-left i{
    color: white;
}

.header .menu .sub-menu .sub-menu-right a:hover,
.header .menu .sub-menu .sub-menu-left a:hover{
    color: red;
}

.header .menu .sub-menu .sub-menu-right a:focus,
.header .menu .sub-menu .sub-menu-left a:focus{
    color: red;
}

.header .menu .sub-menu .sub-menu-right i:hover,
.header .menu .sub-menu .sub-menu-left i:hover{
    color: red;
}

.header .menu .sub-menu .dropdown > a{
    padding-right: 34px;

}

.header .menu .sub-menu span{
    /* background-image: linear-gradient(hsl(0, 100%, 51%),hsl(0, 100%, 51%)); */
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.5s ease;
}

.header .menu .sub-menu li:hover > a > span{
    background-size: 100% 1px;

}

.header .menu .sub-menu i{
    transform: rotate(-90deg);
    right: 24px;
}

.header-right{
    display: flex;
}

.header-right > *{
    margin-left: 25px;
}

.header-right .icon-btn{
    display: flex;
}

.header-right .icon-btn .searchToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.header-right .icon-btn .searchToggle i{
    position: absolute;
    color: var(--text-color);
}

.icon-btn {
    position: relative;
}


.icon-btn .search-field{
    z-index: 100;
    position: absolute;
    bottom: -85px;
    right: -20px;
    height: 50px;
    width: 15em;
    display: flex;
    align-items: center;
    background-color: black
    padding: 2px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active ~ .search-field{
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: black;
    transform: rotate(-45deg);
    z-index: -1;
}


.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius:4px ;
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.searchToggle i.close{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.close{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.header-right .open-menu-btn{
    display: none;
}

@media(max-width:991px){
    .header{
        padding: 12px 0 ;

    }


    .header .menu{
        position: fixed;
        right: 0;
        top: 0;
        width: 320px;
        height: 100%;
        background-color: black;
        padding: 15px 30px 30px;
        overflow-y: auto;
        z-index: 1;
        transform: translateX(100%);
    }

    .header .menu a{
        color: white;
    }
    
    .header .menu a:hover{
        background-color: rgb(14, 13, 13);
        
    }

    .header .menu.open{
        transform: none;
    }

    .header .menu .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    
    .header .menu .close-menu-btn{
        height: 45px;
        width: 35px;
        position: relative;
        display :inline-flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        cursor: pointer;
        border: none;
        
    }

    .header .menu .close-menu-btn i{
        font-size: 20px;
        border: 1px solid gray;
    }

    .header .menu .close-menu-btn i:hover,
    .header .menu .close-menu-btn i:hover{
        color: red;
        transition: all 0.7s ease;
    }    

    .header .menu > ul > li {
        display: block;
    }
    
    .header .menu > ul > li:not(:last-child){
        margin-right: 0;
    }

    /* .header .menu li{
        border-bottom: 1px solid gray; 

    } */

    .header .menu li:first-child{
        border-top: none;
    }
    
    /* .header .menu .sub-menu li:first-child{
        border-top: 1px solid gray;

    } */

    .header .menu > ul > li > a{
        padding: 12px 0;
    }

    .header .menu > ul > .dropdown > a{
        padding-right: 34px;
    }

    .header .menu i{
        color: white;
        height: 34px;
        width: 34px;
        /* border: 1px solid gray; */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;
        cursor: pointer;
        top: 7px;
    }

    .header .menu .dropdown.active > i{
        color: red;
        /* background-color: gray; */
        transform: rotate(180deg);
    }

    .header .menu .dropdown.active > a{
        color: red;
    }

    .header .menu .sub-menu{
        position: static;
        opacity: 1;
        transform: none;
        visibility: visible;
        padding: 0;
        transition: none;
        box-shadow: none;
        width: 100%;
        display: none;
    }

    .header .menu .dropdown.active > .sub-menu{
        display: block;
    }
    .header .menu .sub-menu li:last-child{
        border: none;

    }

    .header .menu .sub-menu a{
        padding: 12px 0 12px 15px;
    }

    .header .menu .sub-menu .sub-menu a{
        padding-left: 30px;
    }

    .header .menu .sub-menu .sub-menu .sub-menu a{
        padding-left: 45px;

    }

    .header .menu .sub-menu span{
        background-image: none;
    }

    .header .menu .sub-menu i{
        color: white;
        transform: none;
        right: 0;
    }

    .header-right .open-menu-btn{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        border: none;

    }
   
    .header-right .open-menu-btn{
        font-size: 25px;
    }

    .icon-btn .search-field{
        bottom: -63px;
    }


    .header .menu > ul > li > a::after{
        content: none;
    }
}

/* end header*/

/* container-bg */
.container-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    width: 100%;
    height: 200px;
    background: url(/IMG/bg.avif);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.container-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: -1;
}

.bg-content b{

    color: red;
    font-size: 50px;
}

@media (max-width: 480px) {
    .bg-content b {
        font-size: 35px;
    }
}
/* end container-bg */


/* section */

img {
  height: auto;
  max-width: 100%;
}


.mb-15 {
  margin-bottom: 15px !important;
}

/* Section Padding */
.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #DADADA;
}


.single-blog-post {
  background-color: #eef3f6;
  padding: 20px;
  margin-bottom: 30px;
}

.single-blog-post .post-title {
  font-size: 22px;
  display: block;
  font-weight: 400;
  margin-bottom: 5px;
  text-decoration: none;
}

.single-blog-post .post-title:hover,
.single-blog-post .post-title:focus {
  color: red;
}

.single-blog-post .post-meta {
  margin-bottom: 30px;
}

.single-blog-post .post-meta p {
  font-size: 12px;
  color: red;
  margin-bottom: 0;
}

.single-blog-post .post-meta p a {
  font-size: 12px;
  color: red;
  font-weight: 500;
}


#main { 
    margin-bottom:30px; 
}
.main .main_title { 
    font-size:24px; 
    font-weight:500; 
    text-transform:uppercase; 
}
.main .main_body { 
    /* text-align:justif;  */
    line-height: 2; 
    font-weight:normal; 
}

#widget { 
    background-color: #eef3f6; 
    padding: 20px; 
    margin-bottom:30px; 
}
.widget .widget_title { 
    font-size:20px; 
    font-weight:500; 
    text-transform:uppercase; 
}

.widget_title .title-kontak{
    position: relative;
    margin-bottom: 25px;
}
.widget_title .title-kontak::after{
    content: "";
    position: absolute;
    border-radius: 5px;
    width: 65px;
    top: 25px;
    height: 3px;
    display: block;
    margin:0 auto;
    background-color: red;
}

.widget_title .title-berita-terbaru{
    position: relative;
    margin-bottom: 25px;
}
.widget_title .title-berita-terbaru::after{
    content: "";
    position: absolute;
    border-radius: 4px;
    width: 127px;
    height: 3px;
    top: 25px;
    display: block;
    margin:0 auto;
    background-color: red;
}

.widget_title .title-alamat{
    position: relative;
    margin-bottom: 25px;
}
.widget_title .title-alamat::after{
    content: "";
    position: absolute;
    border-radius: 5px;
    width: 64px;
    height: 3px;
    top: 25px;
    display: block;
    margin:0 auto;
    background-color: red;
}

.widget_body { 
    padding:10px 0px; 
    font-weight:normal; 
}

/* Footer Area CSS */

.bottom-footer-area {
  background-color: #141414;
  padding: 30px 0;
  text-align: center;
}

.footer-widget { 
    margin-bottom:20px; 
}
.footer-widget .footer-widget_title { 
    font-size:15px; 
    font-weight:500; 
    text-transform:uppercase; 
    color: #ffffff; 
}
.footer-widget_body { 
    padding:10px 0px; 
    color: #808080; 
    font-weight:normal; 
}


.latest-blog-posts .latest-blog-posts .latest-blog-post-thumb {
  width: 20%;
  margin-right: 15px;
}

.latest-blog-posts .latest-blog-posts .latest-blog-post-content {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  margin-bottom: 3px;
  width: 80%;
}


.latest-blog-posts .latest-blog-posts .latest-blog-post-content .post-title h6:hover,
.latest-blog-posts .latest-blog-post-content .post-title h6:focus {
  color: red;
}

.latest-blog-posts .latest-blog-posts .latest-blog-post-content .post-date {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: red;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .latest-blog-posts .latest-blog-posts .latest-blog-post-content .post-title h6 {
    font-size: 14px;
  }

}

/* end section */
